# Build artifacts
.gradle
.idea
.kotlin
build
.settings
bin
.project

# LSP
lsp-dist
.kotlin-lsp
.kotlinlsp-modules.json
log.txt

# VSCode Extension
node_modules
out
*.vsix
server

# virtual env 
test-env
